<!-- Icons -->
<ul class="list-group list-group-icons-meta">
    <li class="list-group-item list-group-item-action">
        <div class="media">
            <div class="d-flex mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-droplet"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
            </div>
            <div class="media-body">
                <h6 class="tx-inverse">Messages</h6>
            </div>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="media">
            <div class="d-flex mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-droplet"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
            </div>
            <div class="media-body">
                <h6 class="tx-inverse">Locations</h6>
            </div>
        </div>
    </li>
    <li class="list-group-item list-group-item-action">
        <div class="media">
            <div class="d-flex mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-droplet"><path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path></svg>
            </div>
            <div class="media-body">
                <h6 class="tx-inverse">Flexible</h6>
            </div>
        </div>
    </li>
</ul>