@model IEnumerable<WebStore.ViewModels.SectionViewModel>

<div id="toggleAccordion">
    @foreach (var parentSection in Model)
    {
        @if (parentSection.ChildSections.Count > 0)
        {
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <section class="mb-0 mt-0">
                        <div role="menu" class="collapsed" data-toggle="collapse" data-target="#section@(parentSection.GetHashCode())" aria-expanded="false" aria-controls="defaultAccordionThree">
                            @parentSection.Name <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                        </div>
                    </section>
                </div>
                <div id="section@(parentSection.GetHashCode())" class="collapse" aria-labelledby="headingThree1" data-parent="#toggleAccordion">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            @foreach (var childs in parentSection.ChildSections)
                            {
                                <li><a href="javascript:void(0);" class="">@childs.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <section class="mb-0 mt-0">
                        <div role="menu" class="collapsed" data-toggle="collapse" data-target="#section@(parentSection.GetHashCode())" aria-expanded="false" aria-controls="defaultAccordionThree">
                            @parentSection.Name
                        </div>
                    </section>
                </div>
            </div>
        }
    }
</div>